.talent-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 2px solid #edebdf;
}

.nav-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: black; /* Ensures text is black */
  font-weight: 500;
  cursor: pointer;
}

.nav-button svg {
  color: black; /* Ensures icons are black */
  font-size: 24px; /* Adjust icon size */
}

.nav-button span {
  margin-top: 4px; /* Adds spacing between icon and text */
  color: black;
  font-size: 12px;
}

