body {
  font-family: Arial, sans-serif;
  background-color: #edebdf;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
padding-left: 70px;
padding-right: 70px;
}

.card {
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 20px;
  text-align: center;
}

input, button {
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #72a2a6;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #5d8d92;
}

